---
// src/pages/videos.astro
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>About - pngu</title>
		<style>
			body { font-family: sans-serif; padding: 2rem; }
			a { color: #2c3e50; text-decoration: none; }
			a:hover { text-decoration: underline; }
		</style>
	</head>
	<body>
  <h1>Brand Assets</h1>
  <p>Download my brand assets:</p>
  
  <ul>
    <li><a href="/brand-assets/Youtube Profile.png" download>Profile Image (PNG)</a></li>
    <li><a href="/brand-assets/Youtube Banner.jpg" download>Brand Youtube Banner (JPG)</a></li>
    <li><a href="/brand-assets/Jump Winter.otf" download>Brand Font OTF (OTF)</a></li>
	<li><a href="/brand-assets/Jump Winter.ttf" download>Brand Font TTF (TTF)</a></li>
  </ul>
  
  <p><a href="/">← Back to Home</a></p>
</body>
</html>
